#
# Copyright (c) TESOBE Ltd. 2016.
#

build
target

*.class
*.ear
*.iml
*.jar
*.war
*.ovpn
*.zip
*.tar
*.tar.gz
*.tgz
*.versionsBackup

*.log

.DS_Store
.gradle
.idea

gradle
gradlew*
hs_err_pid*

!gradle-wrapper.jar

a.json
a.txt
a.xml
pain*.xml

