#
# Copyright (c) TESOBE Ltd. 2016.
#

build
target
/src/main/resource/kafka/kafka_2.11-0.10.2.0/logs
*.class
*.ear
*.iml
*.jar
*.war
*.ovpn
*.zip
*.tar
*.tar.gz
*.tgz
*.versionsBackup

*.log

.DS_Store
.gradle
.idea

gradle
gradlew*
hs_err_pid*

!gradle-wrapper.jar

a.json
a.txt
a.xml
pain*.xml

temp

